# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDEs
.idea/
.vscode/

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.fvm/
.melos_tool/

# Build outputs
build/
.android/
.ios/
android/app/build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/engine/
web/.dart_tool/

# Symbolication and Obfuscation
app.*.symbols
app.*.map.json

# Firebase 
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
firestore.*
database.*

# Environment files
.env
lib/controller/services/APIsKeys/

# pubspec.lock

# Firebase Crashlytics / Performance
.crashlytics/
.performance/

# Android signing keys 
android/key.properties
*.jks

*.iml